.nav {

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__link {
        &,
        &:active {
            color: $text-color-primary;
            display: block;
            text-decoration: none;
            font-size: 16px;
            letter-spacing: -0.2px;
            font-weight: 500;
            padding: 15px;
            transition: all .5s ease;
            @media (min-width: 360px) {
                padding-left: 24px;
            }
        }

        &:hover,
        &:focus {
            outline: none;
            color: $color-hover-text;
        }

    
    }
}
