
$white: #FFF;
$bg-color: #F8F8F8;
$color-nav-border:#b8ffec;
$color-nav-text:#7e7e82;
$divider-color: #EAEAEA;
$color-hover-text:#ff3e79;
$text-color-primary: #1B1C21;
$text-color-secondary: #7E7E82;
$main-border-color: #B8FFEC;
$section-border-color: #D9FFF5;
$placeholder-color: #B5B6BC;
$card-border-color: #EAEAEA;
$line-color:#41F6D7;

